body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ad-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.ad-video {
    background: #ccc;
    width: 100%;
    max-width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: green;
    width: 0;
}

.ad-skip-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

.game-container {
    display: none;
}

.fullscreen-button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#game-list {
    list-style-type: none;
    padding: 0;
}

#game-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#game-list img {
    margin-right: 10px;
}

#game-list span {
    font-size: 24px;
    background: black;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    padding: 5px 10px;
    border-radius: 5px;
}
